	.p2-center{
		text-align: center;
	}
	div.p2-row{	
	}
	div.p2-one{
		margin-bottom: 10px;
		margin-left: 5px;
    	float: left;
    	width: 430px;
	}
	div.p2-two{
		margin-bottom: 10px;
    	float: left;
    	width: 450px;
	}
	div.p2-third{
		margin-bottom: 10px;
		margin-right: 0px;
		float: left;
    	width: 435px;
	}
	h1 {
		font-family: 'Tangerine', cursive;
		color: #fff;
		margin-top: 10px;
		font-size: 65px;
		margin-bottom: 0.5px;
	}
	p{
		font-family: 'Sacramento', cursive;
		color:  #008080 ;
		margin-top: 10px;
		font-size: 30px;
	}
	
	img {margin-bottom: -7px}